<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="transactionManager"  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <!--business object -->
    <bean id="prescriptionBo" class="com.rx4dr.service.bo.PrescriptionBoImpl" >
        <property name="prescriptionDao" ref="prescriptionDao" />
    </bean>
    <bean id="prescriptionDao" class="com.rx4dr.service.dao.PrescriptionDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
         
    <bean id="drBo" class="com.rx4dr.service.bo.DrBoImpl" >
        <property name="drDao" ref="drDao" />
    </bean>
    <bean id="drDao" class="com.rx4dr.service.dao.DrDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="validationUtil" class="com.rx4dr.service.util.ValidationUtil" />

    <!-- Data source  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">       
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/rx4dr"/>
        <property name="username" value="root"/>
        <property name="password" value="jaidasa"/>
    </bean>
  

     <!-- hibernate properties -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.characterEncoding">UTF-8</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>          
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>                    
                <prop key="hibernate.show_sql">true</prop>    
                <prop key="connection.autocommit">true</prop>                                              
            </props>
        </property>              
        <property name="mappingResources">
            <list>
                <value>com/rx4dr/service/hbm/Dr.hbm.xml</value>
                <value>com/rx4dr/service/hbm/DrLbl.hbm.xml</value>                
                <value>com/rx4dr/service/hbm/Drug.hbm.xml</value>                
                <value>com/rx4dr/service/hbm/Rx.hbm.xml</value>                
                <value>com/rx4dr/service/hbm/RxRec.hbm.xml</value>                                
            </list>
        </property>       
    </bean> 
    
</beans>
